.header {
  display: flex;
  padding: 3px 10px;
  align-items: center;
  gap: 10px;
  margin: 10px auto 0;
  background-color: orange;
  width: 80%;
  justify-content: space-between;
}

.h1 {
  font-size: 15px;
  margin-right: 10px;
}

.h1 a {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  gap: 10px;
}

.nav {
  text-decoration: none;
  color: black;
}

.active {
  color: gray;
}
